body{

	background-color: #e9ecef !important;
	font-family: 'Open Sans', sans-serif;
	font-weight: 200;
  color: #37474F;
}
h1,h2,h3 {
  font-weight: 200;
}

.bg-danger{
	background-color: #bd2130 !important;
}



/*----------- Menu Top -----------*/
.nav-top{
	/*background-color: #212529;
	*/background-color: #bd2130;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
}
.nav-top .container{
    padding: 0px auto;
}
.nav-top .container .navbar{
    padding: 5px;
    font-size: 14px;
}
.nav-top .container .navbar .list-inline{
    padding: 0px;
    margin: 0px;
}
.nav-top .container .navbar ul li{
   margin: 0px;
}
.nav-top .container .navbar ul li a{
		
		color: #fff;
    padding-right: 20px;
}
.nav-top .container .navbar ul li a:hover{
	color: #ccc;
}

/*-------------------- Navbar----------------*/
.navbar{
	font-family: 'Roboto', sans-serif;
	font-weight: 400px;
	font-size: 17px;
}
.navbar .navbar-expand-lg{
	background-color: #e9ecef !important;
}
.navbar .navbar-brand{
    padding: 0px;
		margin: 0px;
	
}
.navbar .navbar-brand img{
    width: 355px;
}
.navbar .navbar-nav .nav-link{
  color: #212529;
	padding: 10px;
	text-transform: uppercase;
	
}
.navbar .navbar-nav .nav-link:hover{
    color: #ccc;
    padding: 10px;
    background-color: #212529;
}
.navbar .navbar-nav li ul{
    background-color: #212529;
    color: #ccc;
}
.navbar .navbar-nav li ul li a{
    background-color: #212529;
    color: #ccc;
}

.navbar .navbar-nav li ul li a:hover{
    background-color: #ccc;
    color: #212121;
}

.dropdown-menu {
	margin-top: 0px;
	min-width: 200px;
}
.dropdown-menu.columns-2 {
	min-width: 470px;
}
.dropdown-menu li a {
	padding: 5px 15px;
}
.multi-column-dropdown {
	list-style: none;
  	margin: 0px;
  	padding: 0px;
}


/* Carousel */

.carousel-inner .carousel-item img{
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}
.carousel-nota-izq{
	position: absolute;
	right: 65%;
	left: 10%;
	bottom: 35%;
	padding: 10px;
	color: whitesmoke;
	text-align: center;
	background-color: rgba(37, 10, 8, 0.781);
	border-radius: 20px;
}
.carousel-link-izq{
	position: absolute;
	right: 70%;
	left: 15%;
	bottom: 25%;
	color: whitesmoke;
	text-align: center;
	background-color: #b72f35;
	border-radius: 20px;
}
.carousel-link-izq a{
	color: whitesmoke;
	text-align: center;
	text-decoration: none;
}
.carousel-nota-der{
	position: absolute;
	right: 10%;
	left: 65%;
	bottom: 35%;
	padding: 10px;
	color: whitesmoke;
	text-align: center;
	background-color: rgba(49, 32, 32, 0.9);
	border-radius: 20px;
}
.carousel-link-der{
	position: absolute;
	right: 15%;
	left: 70%;
	bottom: 25%;
	color: whitesmoke;
	text-align: center;
	background-color: #b72f35;
	border-radius: 20px;
}
.carousel-link-der a{
	color: whitesmoke;
	text-align: center;
	text-decoration: none;
}
.carousel-nota-cen{
	position: absolute;
	right: 35%;
	left: 35%;
  bottom: 15%;
	padding: 10px;
	color: whitesmoke;
	text-align: center;
	background-color: rgba(49, 32, 32, 0.9);
	border-radius: 20px;
}
.carousel-link-cen{
	position: absolute;
	right: 42%;
	left: 42%;
	bottom: 8%;
	color: whitesmoke;
	text-align: center;
	background-color: #b72f35;
	border-radius: 20px;
}
.carousel-link-cen a{
	color: whitesmoke;
	text-align: center;
	text-decoration: none;
}

/*	Menu carousel	*/
.menu-carousel{
	padding-top: 20px;
}
.menu-carousel .list-inline{
	font-family: 'Roboto', sans-serif;
	font-weight: 400px;
	font-size: 18px;
	padding: 15px;
	margin: 0px;
}
.menu-carousel .list-inline .list-inline-item{
	padding: 0px;
	margin: 0px;
}
.menu-carousel li a {
	color: black;
	text-decoration: none;
	display: block;
	padding: 10px 10px 10px 10px !important;
	text-transform: uppercase;
	font-weight: 500;
}
  
.menu-carousel li a .fa {
	color: #555;
	font-size: 23px;
	padding: 0px 4px;
}
  
.menu-carousel li a:hover {
	color: white;
	background: #333;
  }
  
.menu-carousel li a:hover .fa {
	color: white;
}

/* Miga de Pan */
.breadcrumbedit{
	background-color:#bd2130;
	color: white;
}
.breadcrumbedit .breadcrumb{
	background-color:#bd2130;
	color: white;
}
.breadcrumbedit h2{
	font-family: 'Roboto', sans-serif;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.breadcrumbedit ol{
	padding-top: 0px;
}
.breadcrumbedit .breadcrumb li a{
	color: white;
}
.breadcrumbedit .breadcrumb li{
	color: #eeeeee;
}

/* Contenido */
.contenido{
	margin-top: 5vh;
}

.eventos{
	background-color:white !important;
	margin-top: 20px;
}
.eventos .container{
	padding: 20px 0px 20px 0px;
}
.eventos .container h1{
	padding: 15px 0px 20px 0px;

}


.actualidad{
	background-color:whitesmoke !important;
}
.actualidad .container{
	padding: 20px 20px 20px 20px;
}
.actualidad .container h1{
	padding: 15px 0px 20px 0px;
}



.comunicados section ul{
	border-bottom: 1px solid #ccc;
}
.comunicados ul li p{
	text-align: justify;
}
.comunicados ul li strong a{
	color: #992222;
	text-transform: uppercase;
		
}
.comunicados ul li strong a:hover{
	color: #dd1111;
}

.agenda{
	margin-top: 5vh;
}
.agenda section ul{
	border-bottom: 1px solid #ccc;
}
.agenda .media-body{
	margin-bottom: 15px;
	border-bottom: 1px solid #ccc;
}
.agenda .media-body p{
	text-align: justify;
}
.fecha-agenda{
	background-color: #34bae2;
	color: white;
	width: 60px;
	text-align: center;
	margin: 0px 10px 0px 0px;
	border-radius: 7px;
}

.noticias-recientes section ul{
	border-bottom: 1px solid #ccc;
}
.noticia-principal  a img:hover{
	-webkit-transform:scale(1.01);
	transform:scale();
}
.noticia-principal img{
	overflow: hidden;
}

.noticia-principal figure figcaption{
	bottom: 0px;
	background-color: rgba(0,0,0,0.9);
	width: 100%;
	padding: 10px;
	color:white;
	font-weight: bold !important;
	
}
.noticias-pasadas img{
	height: 110px;
	width: 200px;
}
.tarjetas{
	max-width: 100%;
}

.blog{
	margin-top: 5vh;
	margin-bottom: 15px;
}
#accordion .card .card-header{
	padding: 0px;
}




/*institucionales*/


figure.tarjeta {
	color: #fff;
  position: relative;
  float: left;
  overflow: hidden;
  background-color: #1a1a1a;
  color: #ffffff;
  text-align: left;
  margin: 10px;
  width: 100%;
  border-radius: 0px;
}
figure.tarjeta * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
figure.tarjeta img {
  max-width: 100%;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  vertical-align: top;
  opacity: 0.7;
}
figure.tarjeta figcaption {
  position: absolute;
  padding: 40px 25px;
  top: 0;
  left: 0;
}
figure.tarjeta h2,
figure.tarjeta p {
	margin: 0;
  padding: 0;
}
figure.tarjeta h2 {
  margin-bottom: 10px;
  display: inline-block;
  font-weight: 100;
  font-size: 1.8em;
}
figure.tarjeta p {
  font-weight: 300;
  margin-bottom: 20px;
  line-height: 1.4em;
}
figure.tarjeta a {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #ffffff;
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 0.8em;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  opacity: 0;
}
figure.tarjeta a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
figure.tarjeta.blue {
  background-color: #20638f;
}
figure.tarjeta.yellow {
  background-color: #c87f0a;
}
figure.tarjeta.green {
  background-color: #1e8449;
}
figure.tarjeta.navy {
  background-color: #222f3d;
}
figure.tarjeta.red {
  background-color: #bd2130;
}
figure.tarjeta:hover img,
figure.tarjeta.hover img {
  opacity: 0;
  -webkit-transform: scale(1);
  transform: scale(1);
}
figure.tarjeta:hover a,
figure.tarjeta.hover a {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

/*normativos*/
#accordion .btn-link{
	color: #241616;
}
#docs{
	margin-bottom: 15px;
}

/* Footer */
footer{
	font-family: 'Roboto', sans-serif;
	background-color: #333;
	color: white;
	padding: 25px 0px 0px 0px;
	margin: 0px;
	font-size: 17px;
}
footer .container{
	margin-bottom: 25px;
}
footer .container .icons{
	margin-top: 35px;
}

footer a .fa{
	color: #ccc !important;
	font-size: 16px;
	border-radius: 50%;
	margin: 0px;
	background-color: #bd2130;
	padding: 9px;
	width: 36px;
	height: 36px;
}

footer p{
	margin-bottom: 0px;
}
footer {
	margin-bottom: 0px;
}
footer .footer-copyright{
	background-color: #2d2e2e;
	padding: 25px;
	margin: 0px;
}




/* Movil */
@media only screen and (max-width: 500px) {

    .nav-top .container{
        padding: 5px ;
    }
    .nav-top .container .navbar{
        padding: 5px;
        font-size: 11px;
    }
    .nav-top .container .navbar ul li{
       margin: 0px;
    }
    .nav-top .container .navbar ul li a{
        padding-right: 5px;
	}
	.carousel-indicators{
		display: none;
	}
	.dropdown-menu.columns-2 {
		min-width: 100%;
		max-width: auto;
	}
	
}

/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 992px){
	/* Carousel */
	.carousel-nota-izq, .carousel-nota-der .carousel-nota-cen{
		bottom: 32%;
	}
	.carousel-nota-izq h3{
		font-size: 14px;
	}
	.carousel-nota-izq h5{
		font-size: 13px;
	}
	.carousel-nota-der h3{
		font-size: 14px;
	}
	.carousel-nota-der h5{
		font-size: 13px;
	}
	.carousel-nota-cen h3{
		font-size: 14px;
	}
	.carousel-nota-cen h3{
		font-size: 13px;
	}
	.carousel-link-izq, .carousel-link-der{
		bottom: 20%;
	} 
	.carousel-link-cen{
		bottom: 5%;
	}
	.carousel-indicators{
		display: none;
	}
}


@media screen and (min-width: 992px){
	.dropdown:hover>.dropdown-menu {
		display: block;
	}
	.dropdown > .dropdown-toggle:active {
		pointer-events: none;
	}
}

/* Pantallas Grandes > 1200*/
@media screen and (min-width: 1500px) {
	.nav-top .container .navbar{
		padding: 6px;
		font-size: 16px;
	}
	
	.navbar .navbar-brand img{
		width: 450px;
	}
	.menu-carousel{
		margin-top: 40px;
		margin-bottom: 45px;
	}
	.menu-carousel .list-inline{
		padding: 15px;
		margin: 0px;
	}
	.menu-carousel .list-inline .list-inline-item{
		padding: 0px;
		margin: 0px;
	}
	.menu-carousel li a {
		color: black;
		text-decoration: none;
		font-size: 20px;
		display: block;
		padding: 10px 10px 10px 10px !important;
		text-transform: uppercase;
	}
}


/* Tablet and up */

@media screen and (min-width: 768px) {
	.eventos .carousel-inner .active,
	.eventos .carousel-inner .active+.carousel-item {
		display: block;
	}
	.eventos .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
	.eventos .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item {
		-webkit-transition: none;
		transition: none;
	}
	.eventos .carousel-inner .carousel-item-next,
	.eventos .carousel-inner .carousel-item-prev {
		position: relative;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	.eventos .carousel-inner .active.carousel-item+.carousel-item+.carousel-item+.carousel-item {
		position: absolute;
		top: 0;
		right: -50%;
		z-index: -1;
		display: block;
		visibility: visible;
	}
	/* left or forward direction */
	.eventos .active.carousel-item-left+.carousel-item-next.carousel-item-left,
	.eventos .carousel-item-next.carousel-item-left+.carousel-item {
		position: relative;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
		visibility: visible;
	}
	/* farthest right hidden item must be abso position for animations */
	.eventos .carousel-inner .carousel-item-prev.carousel-item-right {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		display: block;
		visibility: visible;
	}
	/* right or prev direction */
	.eventos .active.carousel-item-right+.carousel-item-prev.carousel-item-right,
	.eventos .carousel-item-prev.carousel-item-right+.carousel-item {
		position: relative;
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
		visibility: visible;
		display: block;
		visibility: visible;
	}
}

/* Desktop and up */

@media screen and (min-width: 992px) {
	.eventos .carousel-inner .active,
	.eventos .carousel-inner .active+.carousel-item,
	.eventos .carousel-inner .active+.carousel-item+.carousel-item {
		display: block;
	}
	.eventos .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
	.eventos .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item,
	.eventos .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item {
		-webkit-transition: none;
		transition: none;
	}
	.eventos .carousel-inner .carousel-item-next,
	.eventos .carousel-inner .carousel-item-prev {
		position: relative;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	.eventos .carousel-inner .active.carousel-item+.carousel-item+.carousel-item+.carousel-item {
		position: absolute;
		top: 0;
		right: -33.3333%;
		z-index: -1;
		display: block;
		visibility: visible;
	}
	/* left or forward direction */
	.eventos .active.carousel-item-left+.carousel-item-next.carousel-item-left,
	.eventos .carousel-item-next.carousel-item-left+.carousel-item,
	.eventos .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item,
	.eventos .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item {
		position: relative;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
		visibility: visible;
	}
	/* farthest right hidden item must be abso position for animations */
	.eventos .carousel-inner .carousel-item-prev.carousel-item-right {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		display: block;
		visibility: visible;
	}
	/* right or prev direction */
	.eventos .active.carousel-item-right+.carousel-item-prev.carousel-item-right,
	.eventos .carousel-item-prev.carousel-item-right+.carousel-item,
	.eventos .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item,
	.eventos .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item {
		position: relative;
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
		visibility: visible;
		display: block;
		visibility: visible;
	}
}







/*****************************************************************/
@media screen and (min-width: 768px) {
	.actualidad .carousel-inner .active,
	.actualidad .carousel-inner .active+.carousel-item {
		display: block;
	}
	.actualidad .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
	.actualidad .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item {
		-webkit-transition: none;
		transition: none;
	}
	.actualidad .carousel-inner .carousel-item-next,
	.actualidad .carousel-inner .carousel-item-prev {
		position: relative;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	.actualidad .carousel-inner .active.carousel-item+.carousel-item+.carousel-item+.carousel-item {
		position: absolute;
		top: 0;
		right: -50%;
		z-index: -1;
		display: block;
		visibility: visible;
	}
	/* left or forward direction */
	.actualidad .active.carousel-item-left+.carousel-item-next.carousel-item-left,
	.actualidad .carousel-item-next.carousel-item-left+.carousel-item {
		position: relative;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
		visibility: visible;
	}
	/* farthest right hidden item must be abso position for animations */
	.actualidad .carousel-inner .carousel-item-prev.carousel-item-right {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		display: block;
		visibility: visible;
	}
	/* right or prev direction */
	.actualidad .active.carousel-item-right+.carousel-item-prev.carousel-item-right,
	.actualidad .carousel-item-prev.carousel-item-right+.carousel-item {
		position: relative;
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
		visibility: visible;
		display: block;
		visibility: visible;
	}
}

/* Desktop and up */

@media screen and (min-width: 992px) {
	.actualidad .carousel-inner .active,
	.actualidad .carousel-inner .active+.carousel-item,
	.actualidad .carousel-inner .active+.carousel-item+.carousel-item {
		display: block;
	}
	.actualidad .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
	.actualidad .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item,
	.actualidad .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item {
		-webkit-transition: none;
		transition: none;
	}
	.actualidad .carousel-inner .carousel-item-next,
	.actualidad .carousel-inner .carousel-item-prev {
		position: relative;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	.actualidad .carousel-inner .active.carousel-item+.carousel-item+.carousel-item+.carousel-item {
		position: absolute;
		top: 0;
		right: -33.3333%;
		z-index: -1;
		display: block;
		visibility: visible;
	}
	/* left or forward direction */
	.actualidad .active.carousel-item-left+.carousel-item-next.carousel-item-left,
	.actualidad .carousel-item-next.carousel-item-left+.carousel-item,
	.actualidad .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item,
	.actualidad .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item {
		position: relative;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
		visibility: visible;
	}
	/* farthest right hidden item must be abso position for animations */
	.actualidad .carousel-inner .carousel-item-prev.carousel-item-right {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		display: block;
		visibility: visible;
	}
	/* right or prev direction */
	.actualidad .active.carousel-item-right+.carousel-item-prev.carousel-item-right,
	.actualidad .carousel-item-prev.carousel-item-right+.carousel-item,
	.actualidad .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item,
	.actualidad .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item {
		position: relative;
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
		visibility: visible;
		display: block;
		visibility: visible;
	}
}

/********************************************************************/