/* Tablet and up */

@media screen and (min-width: 768px) {
	.actualidad .carousel-inner .active,
	.actualidad .carousel-inner .active+.carousel-item {
		display: block;
	}
	.actualidad .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
	.actualidad .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item {
		-webkit-transition: none;
		transition: none;
	}
	.actualidad .carousel-inner .carousel-item-next,
	.actualidad .carousel-inner .carousel-item-prev {
		position: relative;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	.actualidad .carousel-inner .active.carousel-item+.carousel-item+.carousel-item+.carousel-item {
		position: absolute;
		top: 0;
		right: -50%;
		z-index: -1;
		display: block;
		visibility: visible;
	}
	/* left or forward direction */
	.actualidad .active.carousel-item-left+.carousel-item-next.carousel-item-left,
	.actualidad .carousel-item-next.carousel-item-left+.carousel-item {
		position: relative;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
		visibility: visible;
	}
	/* farthest right hidden item must be abso position for animations */
	.actualidad .carousel-inner .carousel-item-prev.carousel-item-right {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		display: block;
		visibility: visible;
	}
	/* right or prev direction */
	.actualidad .active.carousel-item-right+.carousel-item-prev.carousel-item-right,
	.actualidad .carousel-item-prev.carousel-item-right+.carousel-item {
		position: relative;
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
		visibility: visible;
		display: block;
		visibility: visible;
	}
}

/* Desktop and up */

@media screen and (min-width: 992px) {
	.actualidad .carousel-inner .active,
	.actualidad .carousel-inner .active+.carousel-item,
	.actualidad .carousel-inner .active+.carousel-item+.carousel-item {
		display: block;
	}
	.actualidad .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
	.actualidad .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item,
	.actualidad .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item {
		-webkit-transition: none;
		transition: none;
	}
	.actualidad .carousel-inner .carousel-item-next,
	.actualidad .carousel-inner .carousel-item-prev {
		position: relative;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	.actualidad .carousel-inner .active.carousel-item+.carousel-item+.carousel-item+.carousel-item {
		position: absolute;
		top: 0;
		right: -33.3333%;
		z-index: -1;
		display: block;
		visibility: visible;
	}
	/* left or forward direction */
	.actualidad .active.carousel-item-left+.carousel-item-next.carousel-item-left,
	.actualidad .carousel-item-next.carousel-item-left+.carousel-item,
	.actualidad .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item,
	.actualidad .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item {
		position: relative;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
		visibility: visible;
	}
	/* farthest right hidden item must be abso position for animations */
	.actualidad .carousel-inner .carousel-item-prev.carousel-item-right {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		display: block;
		visibility: visible;
	}
	/* right or prev direction */
	.actualidad .active.carousel-item-right+.carousel-item-prev.carousel-item-right,
	.actualidad .carousel-item-prev.carousel-item-right+.carousel-item,
	.actualidad .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item,
	.actualidad .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item {
		position: relative;
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
		visibility: visible;
		display: block;
		visibility: visible;
	}
}

	#profile-grid {
		overflow: auto; white-space: normal;
	}
	#profile-grid .profile {
		padding-bottom: 40px;
	}
	#profile-grid .panel {
		padding: 0 
	}
	#profile-grid .panel-body { 
		padding: 15px 
	}
	#profile-grid .profile-name {
		font-weight: bold;
	}
	#profile-grid .thumbnail {
		margin-bottom:6px;
	}
	#profile-grid .panel-thumbnail { 
		overflow: hidden; 
	}
	#profile-grid .img-rounded { 
		border-radius: 4px 4px 0 0;
	}